src/main/mule/jira.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jira="http://www.mulesoft.org/schema/mule/jira"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/current/mule-jira.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<jira:config name="Jira_Connector_Config" doc:name="Jira Connector Config" doc:id="986954bf-0220-4c63-bfec-08fa478c7beb" >
		<jira:basic-auth-connection username="cahod82878@healteas.com" password="i4MxQKzdntcIyNqaypkR2E00" baseUri="https://healteas.atlassian.net" />
	</jira:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b1c803fc-8b7a-4d36-baa7-06a0b18ae38a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
<!--	<sub-flow name="jiraSub_Flow" doc:id="5cd0ba7d-1a20-4d82-9f6d-d446a8a3ead9" >
		<jira:get-rest-api3-users-search doc:name="Get All Users" doc:id="7c52dca1-81d9-456a-bb9c-be0a227c40d4" config-ref="Jira_Connector_Config" maxResults="100" />
		<ee:transform doc:name="Transform Message" doc:id="a19ee2d5-d8b1-4ac9-a231-6014c2f91379">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7a885edb-1c96-4281-bad3-9e5abc23bcef" message="#[payload]" />
	</sub-flow>
	-->
	<flow name="jiraFlow" doc:id="465743ba-f435-4042-b7d0-fe2ffde6bf3f" >
		<http:listener doc:name="Listener" doc:id="08786862-e700-423a-8cf9-0a6ffff7087a" config-ref="HTTP_Listener_config" path="/jira"/>
		<jira:get-rest-api3-issue-by-issue-id-or-key doc:name="Get Issue" doc:id="5466948a-770e-47fc-9168-815f7f82e36d" config-ref="Jira_Connector_Config" issueIdOrKey="#[attributes.queryParams.Id]"/>
		<ee:transform doc:name="Transform Message" doc:id="87572189-c84d-4235-97d0-63337623142b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d7b03fb1-5e0e-4cb2-ace5-716c0401194c" message="#[payload]"/>
	</flow>
</mule>
